<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Stock Market Analysis with Data Insights">
    <meta name="author" content="Frederick John">
    <title>Bullish</title>
    <!-- Semantic-UI CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
  <%= render "_navbar.html", conn: @conn %>
    <header class="header">
      <div class="ui text container">
      <div class="ui block center aligned header">
        <h1>Bullish Market</h1>
         <h2>Stack up, if you can!</h2>
      </div>
    </div>
    </header>
   <!-- sui container -->
    <div class="ui container" id="app-wrapper">
      <main role="main">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div><!-- /sui container -->
  <!-- Temporary Footer -->
    <footer><p>Created by <a href="https://github.com/essenceofchaos">Frederick John</a> &copy; <%= date() %></p></footer>
  <!-- JQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
